@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-base: #1a191d;
  --text-base: #e2e8f0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --background-base: #1a191d;
    --text-base: #e2e8f0;
  }
}

body {
  color: var(--text-base);
  background: var(--background-base);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #313438;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e2e8f0;
}

.active .nav-indicator {
  width: 4rem;
  opacity: 1;
}

.active .nav-text {
  color: var(--text-base);
  opacity: 1;
}

.p-skeleton {
  background-color: var(--tw-color, theme("colors.dark-lighten-1"));
  &::after {
    content: "";
    background-color: var(--tw-color, theme("colors.dark-lighten-2"));
  }
}

.p-datatable {
  .p-datatable-wrapper {
    table {
      th {
        font-size: 14px;
      }

      td,
      th {
        padding: 12px 0;
      }

      tbody {
        tr {
          border-bottom: 1px solid
            var(--tw-color, theme("colors.dark-lighten-2"));
        }
      }
    }
  }
}

.footer {
  span {
    font-size: 12px;
    color: var(--tw-color, theme("colors.secondary-darken-text"));

    a {
      color: var(--tw-color, theme("colors.secondary-text"));
      font-weight: 600;

      &:hover {
        color: var(--tw-color, theme("colors.accent-blue"));
      }
    }

    @screen sm {
      font-size: 14px;
    }
  }
}
